.fill{
    background-image: url('../Images/bedroom.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}


.effect.effect-5 {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 30px;
      background-color: rgba($overlay-color,0.3);
      border-radius: 0 50% 50% 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
     &:hover {
      text-indent: 30px;
      
      &:before {
        transform: scale(1,1);
        text-indent: 0;
      }
    }
  }

  .svgpattern{
    background-image: url('../Images/Bg.svg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
  }

  .rot{
    /* transform: rotate(180deg); */
  }