.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Open Sans', Arial, sans-serif;
  }
  
  .contact-form input[type="submit"] {
    background-color: #1e4451;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #16353a;
  }

  .popup-content {
    background-image: url('../Images/background.jpg');
    background-position: center;
  }