.spinner{
  background-image: url('./Images/1486\ \(1\).gif');
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  }
  
  .loading-screen{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  }