.spinner{
  background-image: url('./Images/1486\ \(1\).gif');
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  }
  
  .loading-screen{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 85vh;
  }



  /* App.css */
.whatsapp-button {
  position: fixed; /* Fixes the position to the viewport */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
  background-color: #25D366; /* WhatsApp green color */
  color: white; /* Text color */
  border: none;
  border-radius: 50%; /* Circular shape */
  width: 60px; /* Width of the button */
  height: 60px; /* Height of the button */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 30px; /* Font size for the icon */
  transition: background-color 0.3s, transform 0.3s; /* Transition effects */
  z-index: 1000; /* Ensure it's above other content */
}

.whatsapp-button:hover {
  background-color: #128C7E; /* Darker shade on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.whatsapp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}